body{
    background-color: #5b5b5b;
    margin: 0;
    padding: 0;
}

header{
    background-color: #111111;
    
}

.links{
    text-align: center;
    word-spacing: 50px;
    background-color:  #1b1b1b;
    padding-top: 15px;
    padding-bottom: 15px;
}

.links a{
    text-decoration: none;
    font-size: 15px;
    color: #00ff08;
    letter-spacing: 5px;
}

.links a:hover{
    color: #009505;
    text-decoration: line-through;
}

.menu-img{
    width: 200px;
    height: 100px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.cardsimg {
    width: 50%;
    border-radius: 10px;
}

.card h2 {
    margin: 15px 0;
    color: #78aff5;
}

.card p {
    color: #555;
    font-size: 0.95em;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-8px);
}

.btn-secundario {
    background: #00ff08;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-secundario:hover {
    background: #009505;
}

footer {
    background: #111111;
    color: white;
    padding: 80px 20px;
}



footer p {
    font-size: 21px;
    margin-bottom: 20px;
}
